<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- 众筹项目分类管理 -->
	<bean id="zcProjTypeAction"
		class="com.laungee.proj.zc.web.action.ZcProjTypeAction">
	</bean>
	<!-- 众筹项目管理 -->
	<bean id="zcProjAction"
		class="com.laungee.proj.zc.web.action.ZcProjAction">
	</bean>
	<!-- 众筹项目新增、编辑 -->
	<bean id="zcProjEditAction"
		class="com.laungee.proj.zc.web.action.ZcProjEditAction">
	</bean>
	<!-- 众筹项目捐赠管理 -->
	<bean id="zcProjOrderAction"
		class="com.laungee.proj.zc.web.action.ZcProjOrderAction">
	</bean>
	<!-- 其他众筹项目捐赠管理 -->
	<bean id="zcOtherOrderAction"
		class="com.laungee.proj.zc.web.action.ZcOtherOrderAction">
	</bean>
	<!-- 众筹网栏目管理 -->
	<bean id="siteItemAction"
		class="com.laungee.proj.zc.web.action.SiteItemAction">
	</bean>
	<!-- 众筹网栏目内容管理 -->
	<bean id="siteItemCntAction"
		class="com.laungee.proj.zc.web.action.SiteItemCntAction">
	</bean>
	<!-- 众筹网捐赠寄语管理 -->
	<bean id="siteJzMsgAction"
		class="com.laungee.proj.zc.web.action.SiteJzMsgAction">
	</bean>
</beans>